
.border {
    border-bottom: 1px solid #808080;
}

.main-grid {
    grid-template-columns: 824px;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "information"
        "description"
        "impact"
        "participant"
        "note";
}

    .main-grid .h-area {
        grid-area: header;
        justify-self: center;
        font-weight: bold;
    }

    .main-grid .inc-area {
        grid-area: information;
    }
    .main-grid .desc-area {
        grid-area: description;
    }
    .main-grid .imp-area{
        grid-area: impact;
    }
    .main-grid .part-area {
        grid-area: participant;
    }
    .main-grid .note-area {
        grid-area: note;
    }

.incident-grid {
    grid-template-columns: repeat(8, 102px);
    grid-template-rows: repeat(5, 36px)
}

    .incident-grid .case {
        grid-column: 2 / 4;
        grid-row: 1;
        align-self: center;
    }

    .incident-grid .case-num {
        grid-column: 5 / -1;
        grid-row: 1;
        align-self: center;
    }

    .incident-grid .start {
        grid-column: 2 / 4;
        grid-row: 2;
        align-self: center;
    }

    .incident-grid .start-time {
        grid-column: 5 / -1;
        grid-row: 2;
        align-self: center;
    }

    .incident-grid .end {
        grid-column: 2 / 4;
        grid-row: 3;
        align-self: center;
    }

    .incident-grid .end-time {
        grid-column: 5 / -1;
        grid-row: 3;
        align-self: center;
    }

    .incident-grid .severity {
        grid-column: 2 / 4;
        grid-row: 4;
        align-self: center;
    }

    .incident-grid .severity-level {
        grid-column: 5 / -1;
        grid-row: 4;
        align-self: center;
    }

    .incident-grid .bridge {
        grid-column: 2 / 4;
        grid-row: 5;
        align-self: center;
    }

    .incident-grid .bridge-type {
        grid-column: 5 / -1;
        grid-row: 5;
        align-self: center;
    }
