
.border {
    border-bottom: 1px solid #808080;
}

.main-grid {
    grid-template-columns: 824px;
    grid-template-rows: auto;
}

    .main-grid .it-incident {
        grid-row: 1;
    }

    .main-grid .it-descrition {
        grid-row: 2;
    }

    .main-grid .it-impact {
        grid-row: 3;
    }

    .main-grid .it-participant {
        grid-row: 4;
    }

    .main-grid .it-note {
        grid-row: 5;
    }

.incident-grid {
    grid-template-columns: repeat(8, 102px);
    grid-template-rows: repeat(5, 36px)
}

    .incident-grid .case {
        grid-column: 2 / 4;
        grid-row: 1;
        align-self: center;
    }

    .incident-grid .case-num {
        grid-column: 5 / -1;
        grid-row: 1;
        align-self: center;
    }

    .incident-grid .start {
        grid-column: 2 / 4;
        grid-row: 2;
        align-self: center;
    }

    .incident-grid .start-time {
        grid-column: 5 / -1;
        grid-row: 2;
        align-self: center;
    }

    .incident-grid .end {
        grid-column: 2 / 4;
        grid-row: 3;
        align-self: center;
    }

    .incident-grid .end-time {
        grid-column: 5 / -1;
        grid-row: 3;
        align-self: center;
    }

    .incident-grid .severity {
        grid-column: 2 / 4;
        grid-row: 4;
        align-self: center;
    }

    .incident-grid .severity-level {
        grid-column: 5 / -1;
        grid-row: 4;
        align-self: center;
    }

    .incident-grid .bridge {
        grid-column: 2 / 4;
        grid-row: 5;
        align-self: center;
    }

    .incident-grid .bridge-type {
        grid-column: 5 / -1;
        grid-row: 5;
        align-self: center;
    }
