
.border {
    border-bottom: 1px solid #808080;
}

.roboto-b {
    font-weight: 700;
    font-family: 'Roboto Mono', monospace;
}

.roboto-r {
    font-weight: 400;
    //font-family: 'Roboto Mono', monospace;
    font-family:Verdana;
}

.main-grid {
    font-family: Verdana;
    width: 832px;
    border: thick double #000;
    border-collapse: collapse;
    grid-template-columns: 824px;
    grid-template-rows: auto;
    row-gap: 9px;
    grid-template-areas:
        "header"
        "information"
        "description"
        "impact"
        "participant"
        "actions"
        "note";
}

    .main-grid .h-area {
        grid-area: header;
        justify-self: center;      
    }

    .main-grid .inc-area {
        grid-area: information;
    }
    .main-grid .desc-area {
        grid-area: description;
    }
    .main-grid .imp-area{
        grid-area: impact;
    }
    .main-grid .part-area {
        grid-area: participant;
    }
    .main-grid .note-area {
        grid-area: note;
    }
    .main-grid .inc-actions {
        grid-area: actions;
    }

.incident-grid {
    grid-template-columns: repeat(8, 88px);
    grid-template-rows: repeat(5, 54px)
}

    .incident-grid .case {
        grid-column: 1 / 4;
        grid-row: 1;
        align-self: center;
    }

    .incident-grid .case-num {
        grid-column: 5 / -1;
        grid-row: 1;
        align-self: center;
    }

    .incident-grid .start {
        grid-column: 1 / 4;
        grid-row: 2;
        align-self: center;
    }

    .incident-grid .start-time {
        grid-column: 5 / -1;
        grid-row: 2;
        align-self: center;
    }

    .incident-grid .end {
        grid-column: 1 / 4;
        grid-row: 3;
        align-self: center;
    }

    .incident-grid .end-time {
        grid-column: 5 / -1;
        grid-row: 3;
        align-self: center;
    }

    .incident-grid .severity {
        grid-column: 1 / 4;
        grid-row: 4;
        align-self: center;
    }

    .incident-grid .severity-level {
        grid-column: 5 / -1;
        grid-row: 4;
        align-self: center;
    }

    .incident-grid .bridge {
        grid-column: 1 / 4;
        grid-row: 5;
        align-self: center;
    }

    .incident-grid .bridge-type {
        grid-column: 5 / -1;
        grid-row: 5;
        align-self: center;
    }

.record-time {
    font-size: .95rem;
    font-family: 'Arial Narrow', Arial, sans-serif;
    margin: auto;
}