@page "/report/{IncidentId:int}"



<section class="d-grid main-grid">
    <section class="it-incident d-grid border">
        <div class="case">Case number</div>
        <div class="case-num"></div>
        <div class="start">Start time</div>
        <div class="start-time"></div>
        <div class="end">Resolved time</div>
        <div class="end-time"></div>
        <div class="severity">Severity</div>
        <div class="severity-level"></div>
        <div class="bridge">Troubleshooting bridge</div>
        <div class="bridge-type"></div>
    </section>
    <section class="it-descrition border">

    </section>
    <section class="it-impact border">

    </section>
    <section class="it-participant border">

    </section>
    <section class="it-note border">

    </section>
</section>