<div class="card">
    <h5 class="card-header">IM Check</h5>
    <div class="card-body scroll">
        <div class="container">
            <ul class="notify-group rounded">
                <li class="notify-item d-flex justify-content-between align-items-center text-wrap @cssClass" @onclick=@ResetTimer>
                    Do we have all of the right resources to address this problem?<br/>
                    Do we have all of the right level of management visibility for this problem?<br/>
                    Do we have an ETA on restoration?
                </li>
            </ul>
        </div>
    </div>
</div>