

.scroll {
    overflow-y: auto;
}

.notify-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-top: 2px;
    margin-bottom: 2px;
}

    .notify-group .notify-item {
        font-size: .85rem;
        font-weight: 600;
        list-style-type: none;
        padding: 0;
        margin-top: 3px;
        margin-bottom: 3px;
        border: 1px solid var(--border-muted);
        border-radius: var(--border-radius);
        padding: .5rem;
        
    }

.item-active {
    background-color: #fff;
    color: var(--badge-alarm);
    cursor: pointer;
    animation: blinkingText 2.5s infinite;
}

@keyframes blinkingText {
    0%, 49% {
        background-color: var(--badge-alarm);
        color: #fff;
    }

    50%, 100% {
        background-color: #fff;
        color: var(--badge-alarm);
    }
}