<div class="modal fade" id="@DialogId" tabindex="-1" aria-labelledby="dialogLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dialogLabel">@Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @ChildContent
            </div>
            @if (ShowOkCancel)
            {
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal" @onclick=@(() => OnClick(true))>@OkBtnTitle</button>
                    <button type="button" class="btn btn-sm  btn-outline-secondary" data-bs-dismiss="modal" @onclick=@(() => OnClick(false))>@CancelBtnTitle</button>
                </div>
            }
        </div>
    </div>
</div>